/* Globally Applied styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    }
    
    a {
    text-decoration: none;
    }
    
    .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    }
    
    /* Styles Applied to the Header */

    header {
    background-color: #25274d;
    color: #fff;
    padding: 20px 0;
    }
    
    header .title {
    float: left;
    font-size: 24px;
    }
    
    header .title a {
    color: #fff;
    }
    
    nav .nav-bar {
    float: right;
    }

    
    header .nav-bar ul {
    list-style: none;
    position:fixed;
    display: inline-block;
    margin: 0;
    padding: 0;
    }
    
    header .nav-bar ul li {
    display: inline-block;
    margin-left: 20px;
    }
    
    header .nav-bar ul li a {
    color: #fff;
    font-size: 16px;
    }
    
    header .nav-bar ul li a:hover {
    color: #feca1b;
}

header .nav-bar ul{
    background-color: rgba(107, 162, 206, 0.5);
    border-radius: 5%;
    justify-content: center;
    }
    
    header .intro {
    margin-top: 80px;
    text-align: center;
    }
    
    header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-bottom: 20px;
    }
    
    header h1 {
    font-size: 48px;
    margin-bottom: 20px;
    }
    
    header p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    }
    
    
    /* Main styles */
    main {
    padding: 100px 0;
    }

    section {
    margin-bottom: 100px;
    }
    
    section h2 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
    }
    
    h2 {
        font-size: 36px;
        margin-bottom: 40px;
        text-align: center;
        }

    section p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: justify;
    }
    
    .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    }
    
    .skill {
    width: calc(33.33% - 20px);
    background-color: rgba(91, 130, 245, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    }
    
    .skill-name {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    }
    
    .skill-bar {
    height: 10px;
    background-color:  #feca1b;
    border-radius: 5px;
    border-color: #25274d;
    position: relative;
    margin-bottom: 20
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 40px;
        }
        
        
        .project-name {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
        text-align: center;
        }

        .project-image {
            max-width: 400px;
            max-height: 250px;
        }

        .project-card{
            padding: 10px;
            margin: 10px;
        }

        .socials {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 40px;
            }

    .project-card:hover {
    border-radius: 5px;
    color: #feca1b;
    box-shadow: 0 0 5px #feca1b;
    }
        